@import 'base.css';

h1 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 5rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}


.app-btn {
  color: #ffffff;
  background: #111111;
  border: 1px solid #111111;
  transition: all .3s;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 0.9rem 1.5rem 0.7rem 1.5rem;
}
.app-btn.white {
  color: #111111;
  background: #ffffff;
  border: 1px solid #ffffff;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}
